@import '../../../../assets/styling/app.color.scss';
@import '../../../../assets/styling/app.input.scss';
@import '../../../../assets/styling/app.sizes.scss';

nz-table{
    padding-top: 40px;
}

.container{
    background-color: $primary-color-two;
    padding-left: 20px;
    margin-top: 50px;
}

.search-input{
     @include input()
}
.btn-search{
    border: none;
    background-color:$primary-color-one;
}

@media (max-width: $phone-landscape-breakpoint) {
    .container{
        width: 314px;
        margin-left: -222px;
    }
    .group-form{
        margin-left: -222px; 
    }
}